body {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #0303af; 
}

a:hover {
  color: #e74c3c;
  transition: color 0.8s ease !important;
}

header {
  padding: 15px;
  background-color: #3498db; /* Updated background color */
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

header nav {
  display: flex;
  align-items: center;
  padding: 15px;
}

header nav a {
  font-size: 1.6rem;
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  background-color: #e67e22; /* Updated background color */
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin: 0 auto;
}

button {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #2ecc71; /* Updated background color */
  color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e74c3c; 
}
